.container {
    align-items: flex-start;
    background-color: #323232;
    /* opacity: 30%; */
    display: flex;
    gap:10;
    padding: 30px 470px;
    width: 100%;
    position: sticky
}

.navbar {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.title {
    padding: 0px;
    color: var(--maroon);
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.linkNavbar {
    grid-row: inherit;
    grid-column: inherit;
}